{
  "swagger": "2.0",
  "info": {
    "description": "This is the Pure Web Service. Listed below are all available endpoints, along with a short description.<br/>In order to use the Pure Web Service, you must enter an API key. These are generated in the Administrator tab of Pure, and issues with a given set of available endpoints.<br/>To enter your API key and begin your use, press the Authorize button to at the top of the page. You are then presented with two options for entering the API key: the first option is to use the API key in query format, and the second option is to use the API key in a header.<br/> For further documentation, see <a href=\"documentation/Default.htm\">API Documentation</a>.<br/>A new version of the API is released with each major version of Pure, and remains available for one year. This version is no longer available in Pure 5.14<br/>The old web service is deprecated, but still available <a href=\"../../../doc/\">here</a>, and it will no longer be available in Pure 5.13",
    "version": "510",
    "title": "PURE API 510",
    "contact": {
      "name": "Elsevier"
    }
  },
  "host": "scholars.opb.msu.edu",
  "basePath": "/ws/api/510",
  "schemes": ["https"],
  "tags": [
    {
      "name": "research-outputs"
    },
    {
      "name": "persons"
    },
    {
      "name": "activities"
    },
    {
      "name": "press-media"
    },
    {
      "name": "publishers"
    },
    {
      "name": "journals"
    },
    {
      "name": "external-organisations"
    },
    {
      "name": "semantic-groups"
    },
    {
      "name": "concepts"
    },
    {
      "name": "fingerprints"
    },
    {
      "name": "prizes"
    },
    {
      "name": "thesauri"
    },
    {
      "name": "organisational-units"
    },
    {
      "name": "applications"
    },
    {
      "name": "classification-schemes"
    },
    {
      "name": "external-persons"
    },
    {
      "name": "equipments"
    },
    {
      "name": "projects"
    },
    {
      "name": "changes"
    },
    {
      "name": "events"
    },
    {
      "name": "funding-opportunities"
    },
    {
      "name": "awards"
    }
  ],
  "produces": [
    "application/xml",
    "application/json"
  ],
  "paths": {
    "/activities": {
      "get": {
        "tags": [
          "activities"
        ],
        "summary": "Lists all activities",
        "description": "Lists all activities in the PURE installation. If filtering of the returned activities is required, see the POST version which supports additional filtering.",
        "operationId": "listActivities",
        "consumes": [
          "application/xml",
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Free text search string using Lucene query syntax. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#q_param\">Read more</a>",
            "required": false,
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Specify the ordering of content in the result. Default: ID ascending. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#order_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "created",
              "rating",
              "modified",
              "type",
              "title",
              "startDate"
            ]
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Limit the fields included in the response. E.g. 'nameVariants.nameVariant' will only return the name variants. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#fields_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Enter the desired locale. E.g. 'en_GB' will only return the English text strings. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#locale_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "en_US"
            ]
          },
          {
            "name": "fallbackLocale",
            "in": "query",
            "description": "Fallback locale string. Syntax is 'Locale1=>Locale2' to map Locale1 to Locale2. Example: 'da_DK=>en_GB'. Locale1 must be equal to locale provided in the locale string. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#fallbackLocale_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "rendering",
            "in": "query",
            "description": "HTML rendering formats. If rendering formats are specified, the content will be returned in these formats instead of XML. If XML is also wanted, it can be included using the fields parameter. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#rendering_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "system",
              "short",
              "long"
            ]
          },
          {
            "name": "linkingStrategy",
            "in": "query",
            "description": "Specifies the linking strategy to use used when creating HTML renderings. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#linkingStrategy_param\">Read more</a>",
            "required": false,
            "type": "string",
            "enum": [
              "documentLinkingStrategy",
              "portalLinkingStrategy",
              "noLinkingStrategy",
              "externalSourceIdLinkingStrategy"
            ]
          },
          {
            "name": "returnUsedContent",
            "in": "query",
            "description": "If 'true', the id's of the content used to create HTML renderings are returned as part of the result. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#usedContent_param\">Read more</a>",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "navigationLink",
            "in": "query",
            "description": "Include navigation links for paging and content. Default: true. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#navLink_param\">Read more</a>",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "size",
            "in": "query",
            "description": "Enter the number of results per window. Default: 10. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#size_offset_param\">Read more</a>",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Enter the offset into the total result set where items should be returned from. Default: 0. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#size_offset_param\">Read more</a>",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Enter the desired page number. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#page_size_param\">Read more</a>",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Enter the desired number of results per page. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#page_size_param\">Read more</a>",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/WSActivityListResult"
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "api-key": []
          }
        ],
        "x-PureFamily": "Activity"
      },
      "post": {
        "tags": [
          "activities"
        ],
        "summary": "Complex operation for activities",
        "description": "Lists activities in the PURE installation, similar to the GET version, instead of using parameters to alter the response, an XML document is posted with the request. The XML document contains fields for all the parameters available for the GET version, but also additional filtering options. For documentation of the XML format see <a href=\"documentation/Content/Topics/CT_Activity.htm#post_xml\">Activity documentation</a>",
        "operationId": "listActivities",
        "consumes": [
          "application/xml",
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/WSActivityQuery"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/WSActivityListResult"
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "api-key": []
          }
        ],
        "x-PureFamily": "Activity"
      }
    },
    "/activities-meta/orderings": {
      "get": {
        "tags": [
          "activities"
        ],
        "summary": "Lists available orderings",
        "description": "Lists all orderings available to the activity endpoint. These values can be used by the order parameter",
        "operationId": "getAvailableOrderings",
        "consumes": [
          "application/xml",
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WSOrderingsList"
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "api-key": []
          }
        ],
        "x-PureFamily": "Activity"
      }
    },
    "/activities-meta/renderings": {
      "get": {
        "tags": [
          "activities"
        ],
        "summary": "Lists available renderings",
        "description": "Lists all renderings available to the activity endpoint. These values can be used by the rendering parameter",
        "operationId": "getAvailableRenderings",
        "consumes": [
          "application/xml",
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WSRenderingsList"
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "api-key": []
          }
        ],
        "x-PureFamily": "Activity"
      }
    },
    "/activities/{id}": {
      "get": {
        "tags": [
          "activities"
        ],
        "summary": "Get activity",
        "description": "Get activity with specific ID (path parameter)",
        "operationId": "getActivity",
        "consumes": [
          "application/xml",
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the desired activity",
            "required": true,
            "type": "string"
          },
          {
            "name": "idClassification",
            "in": "query",
            "description": "Specifies an optional classification used to specify which type of ID should be used in the match. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#idclassification_param\">Read more</a>",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Limit the fields included in the response. E.g. 'nameVariants.nameVariant' will only return the name variants. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#fields_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Enter the desired locale. E.g. 'en_GB' will only return the English text strings. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#locale_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "en_US"
            ]
          },
          {
            "name": "fallbackLocale",
            "in": "query",
            "description": "Fallback locale string. Syntax is 'Locale1=>Locale2' to map Locale1 to Locale2. Example: 'da_DK=>en_GB'. Locale1 must be equal to locale provided in the locale string. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#fallbackLocale_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "rendering",
            "in": "query",
            "description": "HTML rendering formats. If rendering formats are specified, the content will be returned in these formats instead of XML. If XML is also wanted, it can be included using the fields parameter. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#rendering_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "system",
              "short",
              "long"
            ]
          },
          {
            "name": "returnUsedContent",
            "in": "query",
            "description": "If 'true', the id's of the content used to create HTML renderings are returned as part of the result. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#usedContent_param\">Read more</a>",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "navigationLink",
            "in": "query",
            "description": "Include navigation links for paging and content. Default: true. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#navLink_param\">Read more</a>",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/WSAbstractActivity"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/WSErrorResult"
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "api-key": []
          }
        ],
        "x-PureFamily": "Activity"
      }
    },
    "/applications": {
      "get": {
        "tags": [
          "applications"
        ],
        "summary": "Lists all applications",
        "description": "Lists all applications in the PURE installation. If filtering of the returned applications is required, see the POST version which supports additional filtering.",
        "operationId": "listApplications",
        "consumes": [
          "application/xml",
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Free text search string using Lucene query syntax. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#q_param\">Read more</a>",
            "required": false,
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Specify the ordering of content in the result. Default: ID ascending. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#order_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "owner",
              "projects",
              "endDate",
              "created",
              "firstApplicant",
              "rating",
              "firstNatureType",
              "firstFunder",
              "title",
              "fundingOpportunity",
              "relatedApplications",
              "awards",
              "typeClassification",
              "pureid",
              "modified",
              "fundingOpportunityDeadline",
              "totalAppliedAmount",
              "startDate",
              "internalapprovalworkflow",
              "applicationDate",
              "firstClassifiedSource"
            ]
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Limit the fields included in the response. E.g. 'nameVariants.nameVariant' will only return the name variants. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#fields_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Enter the desired locale. E.g. 'en_GB' will only return the English text strings. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#locale_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "en_US"
            ]
          },
          {
            "name": "fallbackLocale",
            "in": "query",
            "description": "Fallback locale string. Syntax is 'Locale1=>Locale2' to map Locale1 to Locale2. Example: 'da_DK=>en_GB'. Locale1 must be equal to locale provided in the locale string. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#fallbackLocale_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "rendering",
            "in": "query",
            "description": "HTML rendering formats. If rendering formats are specified, the content will be returned in these formats instead of XML. If XML is also wanted, it can be included using the fields parameter. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#rendering_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "system",
              "short",
              "long"
            ]
          },
          {
            "name": "linkingStrategy",
            "in": "query",
            "description": "Specifies the linking strategy to use used when creating HTML renderings. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#linkingStrategy_param\">Read more</a>",
            "required": false,
            "type": "string",
            "enum": [
              "documentLinkingStrategy",
              "portalLinkingStrategy",
              "noLinkingStrategy",
              "externalSourceIdLinkingStrategy"
            ]
          },
          {
            "name": "returnUsedContent",
            "in": "query",
            "description": "If 'true', the id's of the content used to create HTML renderings are returned as part of the result. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#usedContent_param\">Read more</a>",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "navigationLink",
            "in": "query",
            "description": "Include navigation links for paging and content. Default: true. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#navLink_param\">Read more</a>",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "size",
            "in": "query",
            "description": "Enter the number of results per window. Default: 10. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#size_offset_param\">Read more</a>",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Enter the offset into the total result set where items should be returned from. Default: 0. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#size_offset_param\">Read more</a>",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Enter the desired page number. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#page_size_param\">Read more</a>",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Enter the desired number of results per page. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#page_size_param\">Read more</a>",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/WSApplicationListResult"
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "api-key": []
          }
        ],
        "x-PureFamily": "Application"
      },
      "post": {
        "tags": [
          "applications"
        ],
        "summary": "Complex operation for applications",
        "description": "Lists applications in the PURE installation, similar to the GET version, instead of using parameters to alter the response, an XML document is posted with the request. The XML document contains fields for all the parameters available for the GET version, but also additional filtering options. For documentation of the XML format see <a href=\"documentation/Content/Topics/CT_Application.htm#post_xml\">Application documentation</a>",
        "operationId": "listApplications",
        "consumes": [
          "application/xml",
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/WSApplicationsQuery"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/WSApplicationListResult"
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "api-key": []
          }
        ],
        "x-PureFamily": "Application"
      }
    },
    "/applications-meta/orderings": {
      "get": {
        "tags": [
          "applications"
        ],
        "summary": "Lists available orderings",
        "description": "Lists all orderings available to the application endpoint. These values can be used by the order parameter",
        "operationId": "getAvailableOrderings",
        "consumes": [
          "application/xml",
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WSOrderingsList"
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "api-key": []
          }
        ],
        "x-PureFamily": "Application"
      }
    },
    "/applications-meta/renderings": {
      "get": {
        "tags": [
          "applications"
        ],
        "summary": "Lists available renderings",
        "description": "Lists all renderings available to the application endpoint. These values can be used by the rendering parameter",
        "operationId": "getAvailableRenderings",
        "consumes": [
          "application/xml",
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WSRenderingsList"
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "api-key": []
          }
        ],
        "x-PureFamily": "Application"
      }
    },
    "/applications/{id}": {
      "get": {
        "tags": [
          "applications"
        ],
        "summary": "Get application",
        "description": "Get application with specific ID (path parameter).",
        "operationId": "getApplication",
        "consumes": [
          "application/xml",
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the desired application",
            "required": true,
            "type": "string"
          },
          {
            "name": "idClassification",
            "in": "query",
            "description": "Specifies an optional classification used to specify which type of ID should be used in the match. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#idclassification_param\">Read more</a>",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Limit the fields included in the response. E.g. 'nameVariants.nameVariant' will only return the name variants. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#fields_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Enter the desired locale. E.g. 'en_GB' will only return the English text strings. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#locale_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "en_US"
            ]
          },
          {
            "name": "fallbackLocale",
            "in": "query",
            "description": "Fallback locale string. Syntax is 'Locale1=>Locale2' to map Locale1 to Locale2. Example: 'da_DK=>en_GB'. Locale1 must be equal to locale provided in the locale string. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#fallbackLocale_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "rendering",
            "in": "query",
            "description": "HTML rendering formats. If rendering formats are specified, the content will be returned in these formats instead of XML. If XML is also wanted, it can be included using the fields parameter. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#rendering_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "system",
              "short",
              "long"
            ]
          },
          {
            "name": "returnUsedContent",
            "in": "query",
            "description": "If 'true', the id's of the content used to create HTML renderings are returned as part of the result. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#usedContent_param\">Read more</a>",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "navigationLink",
            "in": "query",
            "description": "Include navigation links for paging and content. Default: true. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#navLink_param\">Read more</a>",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/WSApplication"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/WSErrorResult"
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "api-key": []
          }
        ],
        "x-PureFamily": "Application"
      }
    },
    "/awards": {
      "get": {
        "tags": [
          "awards"
        ],
        "summary": "Lists all awards",
        "description": "Lists all awards in the PURE installation. If filtering of the returned awards is required, see the POST version which supports additional filtering.",
        "operationId": "listAwards",
        "consumes": [
          "application/xml",
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Free text search string using Lucene query syntax. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#q_param\">Read more</a>",
            "required": false,
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Specify the ordering of content in the result. Default: ID ascending. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#order_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "owner",
              "firstAwardholder",
              "endDate",
              "created",
              "rating",
              "firstNatureType",
              "firstFunder",
              "awardDate",
              "title",
              "totalAwardedAmount",
              "typeClassification",
              "modified",
              "totalSpendAmount",
              "startDate",
              "firstClassifiedSource"
            ]
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Limit the fields included in the response. E.g. 'nameVariants.nameVariant' will only return the name variants. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#fields_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Enter the desired locale. E.g. 'en_GB' will only return the English text strings. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#locale_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "en_US"
            ]
          },
          {
            "name": "fallbackLocale",
            "in": "query",
            "description": "Fallback locale string. Syntax is 'Locale1=>Locale2' to map Locale1 to Locale2. Example: 'da_DK=>en_GB'. Locale1 must be equal to locale provided in the locale string. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#fallbackLocale_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "rendering",
            "in": "query",
            "description": "HTML rendering formats. If rendering formats are specified, the content will be returned in these formats instead of XML. If XML is also wanted, it can be included using the fields parameter. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#rendering_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "system",
              "fingerprint",
              "short",
              "long"
            ]
          },
          {
            "name": "linkingStrategy",
            "in": "query",
            "description": "Specifies the linking strategy to use used when creating HTML renderings. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#linkingStrategy_param\">Read more</a>",
            "required": false,
            "type": "string",
            "enum": [
              "documentLinkingStrategy",
              "portalLinkingStrategy",
              "noLinkingStrategy",
              "externalSourceIdLinkingStrategy"
            ]
          },
          {
            "name": "returnUsedContent",
            "in": "query",
            "description": "If 'true', the id's of the content used to create HTML renderings are returned as part of the result. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#usedContent_param\">Read more</a>",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "navigationLink",
            "in": "query",
            "description": "Include navigation links for paging and content. Default: true. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#navLink_param\">Read more</a>",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "size",
            "in": "query",
            "description": "Enter the number of results per window. Default: 10. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#size_offset_param\">Read more</a>",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Enter the offset into the total result set where items should be returned from. Default: 0. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#size_offset_param\">Read more</a>",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Enter the desired page number. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#page_size_param\">Read more</a>",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Enter the desired number of results per page. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#page_size_param\">Read more</a>",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/WSAwardListResult"
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "api-key": []
          }
        ],
        "x-PureFamily": "Award"
      },
      "post": {
        "tags": [
          "awards"
        ],
        "summary": "Complex operation for awards",
        "description": "Lists awards in the PURE installation, similar to the GET version, instead of using parameters to alter the response, an XML document is posted with the request. The XML document contains fields for all the parameters available for the GET version, but also additional filtering options. For documentation of the XML format see <a href=\"documentation/Content/Topics/CT_Award.htm#post_xml\">Award documentation</a>",
        "operationId": "listAwards",
        "consumes": [
          "application/xml",
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/WSAwardsQuery"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/WSAwardListResult"
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "api-key": []
          }
        ],
        "x-PureFamily": "Award"
      }
    },
    "/awards-meta/orderings": {
      "get": {
        "tags": [
          "awards"
        ],
        "summary": "Lists available orderings",
        "description": "Lists all orderings available to the award endpoint. These values can be used by the order parameter",
        "operationId": "getAvailableOrderings",
        "consumes": [
          "application/xml",
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WSOrderingsList"
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "api-key": []
          }
        ],
        "x-PureFamily": "Award"
      }
    },
    "/awards-meta/renderings": {
      "get": {
        "tags": [
          "awards"
        ],
        "summary": "Lists available renderings",
        "description": "Lists all renderings available to the award endpoint. These values can be used by the rendering parameter",
        "operationId": "getAvailableRenderings",
        "consumes": [
          "application/xml",
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WSRenderingsList"
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "api-key": []
          }
        ],
        "x-PureFamily": "Award"
      }
    },
    "/awards/{id}": {
      "get": {
        "tags": [
          "awards"
        ],
        "summary": "Get award",
        "description": "Get award with specific ID (path parameter).",
        "operationId": "getAward",
        "consumes": [
          "application/xml",
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the desired award",
            "required": true,
            "type": "string"
          },
          {
            "name": "idClassification",
            "in": "query",
            "description": "Specifies an optional classification used to specify which type of ID should be used in the match. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#idclassification_param\">Read more</a>",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Limit the fields included in the response. E.g. 'nameVariants.nameVariant' will only return the name variants. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#fields_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Enter the desired locale. E.g. 'en_GB' will only return the English text strings. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#locale_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "en_US"
            ]
          },
          {
            "name": "fallbackLocale",
            "in": "query",
            "description": "Fallback locale string. Syntax is 'Locale1=>Locale2' to map Locale1 to Locale2. Example: 'da_DK=>en_GB'. Locale1 must be equal to locale provided in the locale string. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#fallbackLocale_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "rendering",
            "in": "query",
            "description": "HTML rendering formats. If rendering formats are specified, the content will be returned in these formats instead of XML. If XML is also wanted, it can be included using the fields parameter. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#rendering_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "system",
              "fingerprint",
              "short",
              "long"
            ]
          },
          {
            "name": "returnUsedContent",
            "in": "query",
            "description": "If 'true', the id's of the content used to create HTML renderings are returned as part of the result. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#usedContent_param\">Read more</a>",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "navigationLink",
            "in": "query",
            "description": "Include navigation links for paging and content. Default: true. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#navLink_param\">Read more</a>",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/WSAward"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/WSErrorResult"
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "api-key": []
          }
        ],
        "x-PureFamily": "Award"
      }
    },
    "/awards/{id}/fingerprints": {
      "get": {
        "tags": [
          "awards"
        ],
        "summary": "Lists fingerprints on an award",
        "description": "Lists all fingerprints associated to the award specified by an ID (supplied as path parameter)",
        "operationId": "listAwardFingerprints",
        "consumes": [
          "application/xml",
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          },
          {
            "name": "idClassification",
            "in": "query",
            "description": "Specifies an optional classification used to specify which type of ID should be used in the match. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#idclassification_param\">Read more</a>",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Limit the fields included in the response. E.g. 'nameVariants.nameVariant' will only return the name variants. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#fields_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Enter the desired locale. E.g. 'en_GB' will only return the English text strings. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#locale_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "en_US"
            ]
          },
          {
            "name": "fallbackLocale",
            "in": "query",
            "description": "Fallback locale string. Syntax is 'Locale1=>Locale2' to map Locale1 to Locale2. Example: 'da_DK=>en_GB'. Locale1 must be equal to locale provided in the locale string. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#fallbackLocale_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "rendering",
            "in": "query",
            "description": "HTML rendering formats. If rendering formats are specified, the content will be returned in these formats instead of XML. If XML is also wanted, it can be included using the fields parameter. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#rendering_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "system"
            ]
          },
          {
            "name": "returnUsedContent",
            "in": "query",
            "description": "If 'true', the id's of the content used to create HTML renderings are returned as part of the result. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#usedContent_param\">Read more</a>",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "navigationLink",
            "in": "query",
            "description": "Include navigation links for paging and content. Default: true. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#navLink_param\">Read more</a>",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/WSFingerprintListResult"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/WSErrorResult"
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "api-key": []
          }
        ],
        "x-PureFamily": "Fingerprint"
      }
    },
    "/changes/{idOrDate}": {
      "get": {
        "tags": [
          "changes"
        ],
        "summary": "Get changes",
        "description": "Get changes from specific audit ID or date in the yyyy-MM-dd format (e.g. 2017-04-24) and forward",
        "operationId": "getChanges",
        "consumes": [
          "application/xml",
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "idOrDate",
            "in": "path",
            "description": "Id or date (in yyyy-MM-dd format) of the earliest audit entry",
            "required": true,
            "type": "string"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Free text search string using Lucene query syntax. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#q_param\">Read more</a>",
            "required": false,
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Specify the ordering of content in the result. Default: ID ascending. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#order_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Limit the fields included in the response. E.g. 'nameVariants.nameVariant' will only return the name variants. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#fields_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Enter the desired locale. E.g. 'en_GB' will only return the English text strings. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#locale_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "en_US"
            ]
          },
          {
            "name": "fallbackLocale",
            "in": "query",
            "description": "Fallback locale string. Syntax is 'Locale1=>Locale2' to map Locale1 to Locale2. Example: 'da_DK=>en_GB'. Locale1 must be equal to locale provided in the locale string. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#fallbackLocale_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "rendering",
            "in": "query",
            "description": "HTML rendering formats. If rendering formats are specified, the content will be returned in these formats instead of XML. If XML is also wanted, it can be included using the fields parameter. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#rendering_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "linkingStrategy",
            "in": "query",
            "description": "Specifies the linking strategy to use used when creating HTML renderings. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#linkingStrategy_param\">Read more</a>",
            "required": false,
            "type": "string",
            "enum": [
              "documentLinkingStrategy",
              "portalLinkingStrategy",
              "noLinkingStrategy",
              "externalSourceIdLinkingStrategy"
            ]
          },
          {
            "name": "returnUsedContent",
            "in": "query",
            "description": "If 'true', the id's of the content used to create HTML renderings are returned as part of the result. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#usedContent_param\">Read more</a>",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "navigationLink",
            "in": "query",
            "description": "Include navigation links for paging and content. Default: true. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#navLink_param\">Read more</a>",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "size",
            "in": "query",
            "description": "Enter the number of results per window. Default: 10. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#size_offset_param\">Read more</a>",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Enter the offset into the total result set where items should be returned from. Default: 0. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#size_offset_param\">Read more</a>",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Enter the desired page number. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#page_size_param\">Read more</a>",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Enter the desired number of results per page. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#page_size_param\">Read more</a>",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/WSChangeListResult"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/WSErrorResult"
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "api-key": []
          }
        ],
        "x-PureFamily": "AbstractChange"
      }
    },
    "/classification-schemes": {
      "get": {
        "tags": [
          "classification-schemes"
        ],
        "summary": "Lists all classification schemes",
        "description": "Lists all classification schemes in the PURE installation. If filtering of the returned classification schemes is required, see the POST version which supports additional filtering.",
        "operationId": "listClassificationSchemes",
        "consumes": [
          "application/xml",
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Free text search string using Lucene query syntax. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#q_param\">Read more</a>",
            "required": false,
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Specify the ordering of content in the result. Default: ID ascending. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#order_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "rating",
              "modified",
              "description"
            ]
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Limit the fields included in the response. E.g. 'nameVariants.nameVariant' will only return the name variants. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#fields_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Enter the desired locale. E.g. 'en_GB' will only return the English text strings. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#locale_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "en_US"
            ]
          },
          {
            "name": "fallbackLocale",
            "in": "query",
            "description": "Fallback locale string. Syntax is 'Locale1=>Locale2' to map Locale1 to Locale2. Example: 'da_DK=>en_GB'. Locale1 must be equal to locale provided in the locale string. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#fallbackLocale_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "rendering",
            "in": "query",
            "description": "HTML rendering formats. If rendering formats are specified, the content will be returned in these formats instead of XML. If XML is also wanted, it can be included using the fields parameter. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#rendering_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "system",
              "short"
            ]
          },
          {
            "name": "linkingStrategy",
            "in": "query",
            "description": "Specifies the linking strategy to use used when creating HTML renderings. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#linkingStrategy_param\">Read more</a>",
            "required": false,
            "type": "string",
            "enum": [
              "documentLinkingStrategy",
              "portalLinkingStrategy",
              "noLinkingStrategy",
              "externalSourceIdLinkingStrategy"
            ]
          },
          {
            "name": "returnUsedContent",
            "in": "query",
            "description": "If 'true', the id's of the content used to create HTML renderings are returned as part of the result. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#usedContent_param\">Read more</a>",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "navigationLink",
            "in": "query",
            "description": "Include navigation links for paging and content. Default: true. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#navLink_param\">Read more</a>",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "size",
            "in": "query",
            "description": "Enter the number of results per window. Default: 10. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#size_offset_param\">Read more</a>",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Enter the offset into the total result set where items should be returned from. Default: 0. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#size_offset_param\">Read more</a>",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Enter the desired page number. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#page_size_param\">Read more</a>",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Enter the desired number of results per page. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#page_size_param\">Read more</a>",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/WSClassificationSchemeListResult"
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "api-key": []
          }
        ],
        "x-PureFamily": "ClassificationScheme"
      },
      "post": {
        "tags": [
          "classification-schemes"
        ],
        "summary": "Complex operation for classification schemes",
        "description": "Lists classification schemes in the PURE installation, similar to the GET version, instead of using parameters to alter the response, an XML document is posted with the request. The XML document contains fields for all the parameters available for the GET version, but also additional filtering options. For documentation of the XML format see <a href=\"documentation/Content/Topics/CT_ClassificationScheme.htm#post_xml\">ClassificationScheme documentation</a>",
        "operationId": "listClassificationSchemes",
        "consumes": [
          "application/xml",
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/WSClassificationSchemesQuery"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/WSClassificationSchemeListResult"
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "api-key": []
          }
        ],
        "x-PureFamily": "ClassificationScheme"
      }
    },
    "/classification-schemes-meta/orderings": {
      "get": {
        "tags": [
          "classification-schemes"
        ],
        "summary": "Lists available orderings",
        "description": "Lists all orderings available to the Classification Scheme endpoint. These values can be used by the order parameter",
        "operationId": "getAvailableOrderings",
        "consumes": [
          "application/xml",
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WSOrderingsList"
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "api-key": []
          }
        ],
        "x-PureFamily": "ClassificationScheme"
      }
    },
    "/classification-schemes-meta/renderings": {
      "get": {
        "tags": [
          "classification-schemes"
        ],
        "summary": "Lists available renderings",
        "description": "Lists all renderings available to the Classification Scheme endpoint. These values can be used by the rendering parameter",
        "operationId": "getAvailableRenderings",
        "consumes": [
          "application/xml",
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WSRenderingsList"
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "api-key": []
          }
        ],
        "x-PureFamily": "ClassificationScheme"
      }
    },
    "/classification-schemes/{id}": {
      "get": {
        "tags": [
          "classification-schemes"
        ],
        "summary": "Get Classification Scheme",
        "description": "Get Classification Scheme with specific uri (path parameter)",
        "operationId": "getClassificationScheme",
        "consumes": [
          "application/xml",
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id of the desired classification scheme",
            "required": true,
            "type": "string"
          },
          {
            "name": "idClassification",
            "in": "query",
            "description": "Specifies an optional classification used to specify which type of ID should be used in the match. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#idclassification_param\">Read more</a>",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Limit the fields included in the response. E.g. 'nameVariants.nameVariant' will only return the name variants. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#fields_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Enter the desired locale. E.g. 'en_GB' will only return the English text strings. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#locale_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "en_US"
            ]
          },
          {
            "name": "fallbackLocale",
            "in": "query",
            "description": "Fallback locale string. Syntax is 'Locale1=>Locale2' to map Locale1 to Locale2. Example: 'da_DK=>en_GB'. Locale1 must be equal to locale provided in the locale string. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#fallbackLocale_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "rendering",
            "in": "query",
            "description": "HTML rendering formats. If rendering formats are specified, the content will be returned in these formats instead of XML. If XML is also wanted, it can be included using the fields parameter. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#rendering_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "system",
              "short"
            ]
          },
          {
            "name": "returnUsedContent",
            "in": "query",
            "description": "If 'true', the id's of the content used to create HTML renderings are returned as part of the result. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#usedContent_param\">Read more</a>",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "navigationLink",
            "in": "query",
            "description": "Include navigation links for paging and content. Default: true. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#navLink_param\">Read more</a>",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/WSClassificationScheme"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/WSErrorResult"
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "api-key": []
          }
        ],
        "x-PureFamily": "ClassificationScheme"
      }
    },
    "/concepts": {
      "get": {
        "tags": [
          "concepts"
        ],
        "summary": "Lists all concepts",
        "description": "Lists all concepts in the PURE installation.",
        "operationId": "listConcepts",
        "consumes": [
          "application/xml",
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Free text search string using Lucene query syntax. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#q_param\">Read more</a>",
            "required": false,
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Specify the ordering of content in the result. Default: ID ascending. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#order_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "rating"
            ]
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Limit the fields included in the response. E.g. 'nameVariants.nameVariant' will only return the name variants. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#fields_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Enter the desired locale. E.g. 'en_GB' will only return the English text strings. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#locale_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "en_US"
            ]
          },
          {
            "name": "fallbackLocale",
            "in": "query",
            "description": "Fallback locale string. Syntax is 'Locale1=>Locale2' to map Locale1 to Locale2. Example: 'da_DK=>en_GB'. Locale1 must be equal to locale provided in the locale string. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#fallbackLocale_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "rendering",
            "in": "query",
            "description": "HTML rendering formats. If rendering formats are specified, the content will be returned in these formats instead of XML. If XML is also wanted, it can be included using the fields parameter. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#rendering_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "system"
            ]
          },
          {
            "name": "linkingStrategy",
            "in": "query",
            "description": "Specifies the linking strategy to use used when creating HTML renderings. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#linkingStrategy_param\">Read more</a>",
            "required": false,
            "type": "string",
            "enum": [
              "documentLinkingStrategy",
              "portalLinkingStrategy",
              "noLinkingStrategy",
              "externalSourceIdLinkingStrategy"
            ]
          },
          {
            "name": "returnUsedContent",
            "in": "query",
            "description": "If 'true', the id's of the content used to create HTML renderings are returned as part of the result. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#usedContent_param\">Read more</a>",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "navigationLink",
            "in": "query",
            "description": "Include navigation links for paging and content. Default: true. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#navLink_param\">Read more</a>",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "size",
            "in": "query",
            "description": "Enter the number of results per window. Default: 10. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#size_offset_param\">Read more</a>",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Enter the offset into the total result set where items should be returned from. Default: 0. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#size_offset_param\">Read more</a>",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Enter the desired page number. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#page_size_param\">Read more</a>",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Enter the desired number of results per page. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#page_size_param\">Read more</a>",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/WSConceptListResult"
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "api-key": []
          }
        ],
        "x-PureFamily": "Concept"
      }
    },
    "/concepts-meta/orderings": {
      "get": {
        "tags": [
          "concepts"
        ],
        "summary": "Lists available orderings",
        "description": "Lists all orderings available to the concepts endpoint. These values can be used by the order parameter",
        "operationId": "getAvailableOrderings",
        "consumes": [
          "application/xml",
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WSOrderingsList"
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "api-key": []
          }
        ],
        "x-PureFamily": "Concept"
      }
    },
    "/concepts-meta/renderings": {
      "get": {
        "tags": [
          "concepts"
        ],
        "summary": "Lists available renderings",
        "description": "Lists all renderings available to the concepts endpoint. These values can be used by the rendering parameter",
        "operationId": "getAvailableRenderings",
        "consumes": [
          "application/xml",
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WSRenderingsList"
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "api-key": []
          }
        ],
        "x-PureFamily": "Concept"
      }
    },
    "/concepts/{id}": {
      "get": {
        "tags": [
          "concepts"
        ],
        "summary": "Get concept",
        "description": "Get concept with specific ID (path parameter).",
        "operationId": "getConcept",
        "consumes": [
          "application/xml",
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the desired concept",
            "required": true,
            "type": "string"
          },
          {
            "name": "idClassification",
            "in": "query",
            "description": "Specifies an optional classification used to specify which type of ID should be used in the match. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#idclassification_param\">Read more</a>",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Limit the fields included in the response. E.g. 'nameVariants.nameVariant' will only return the name variants. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#fields_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Enter the desired locale. E.g. 'en_GB' will only return the English text strings. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#locale_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "en_US"
            ]
          },
          {
            "name": "fallbackLocale",
            "in": "query",
            "description": "Fallback locale string. Syntax is 'Locale1=>Locale2' to map Locale1 to Locale2. Example: 'da_DK=>en_GB'. Locale1 must be equal to locale provided in the locale string. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#fallbackLocale_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "rendering",
            "in": "query",
            "description": "HTML rendering formats. If rendering formats are specified, the content will be returned in these formats instead of XML. If XML is also wanted, it can be included using the fields parameter. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#rendering_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "system"
            ]
          },
          {
            "name": "returnUsedContent",
            "in": "query",
            "description": "If 'true', the id's of the content used to create HTML renderings are returned as part of the result. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#usedContent_param\">Read more</a>",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "navigationLink",
            "in": "query",
            "description": "Include navigation links for paging and content. Default: true. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#navLink_param\">Read more</a>",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/WSConcept"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/WSErrorResult"
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "api-key": []
          }
        ],
        "x-PureFamily": "Concept"
      }
    },
    "/equipments": {
      "get": {
        "tags": [
          "equipments"
        ],
        "summary": "Lists all equipment",
        "description": "Lists all equipment in the PURE installation. If filtering of the returned equipment is required, see the POST version which supports additional filtering.",
        "operationId": "listEquipment",
        "consumes": [
          "application/xml",
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Free text search string using Lucene query syntax. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#q_param\">Read more</a>",
            "required": false,
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Specify the ordering of content in the result. Default: ID ascending. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#order_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "created",
              "rating",
              "modified",
              "title"
            ]
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Limit the fields included in the response. E.g. 'nameVariants.nameVariant' will only return the name variants. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#fields_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Enter the desired locale. E.g. 'en_GB' will only return the English text strings. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#locale_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "en_US"
            ]
          },
          {
            "name": "fallbackLocale",
            "in": "query",
            "description": "Fallback locale string. Syntax is 'Locale1=>Locale2' to map Locale1 to Locale2. Example: 'da_DK=>en_GB'. Locale1 must be equal to locale provided in the locale string. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#fallbackLocale_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "rendering",
            "in": "query",
            "description": "HTML rendering formats. If rendering formats are specified, the content will be returned in these formats instead of XML. If XML is also wanted, it can be included using the fields parameter. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#rendering_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "system",
              "fingerprint"
            ]
          },
          {
            "name": "linkingStrategy",
            "in": "query",
            "description": "Specifies the linking strategy to use used when creating HTML renderings. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#linkingStrategy_param\">Read more</a>",
            "required": false,
            "type": "string",
            "enum": [
              "documentLinkingStrategy",
              "portalLinkingStrategy",
              "noLinkingStrategy",
              "externalSourceIdLinkingStrategy"
            ]
          },
          {
            "name": "returnUsedContent",
            "in": "query",
            "description": "If 'true', the id's of the content used to create HTML renderings are returned as part of the result. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#usedContent_param\">Read more</a>",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "navigationLink",
            "in": "query",
            "description": "Include navigation links for paging and content. Default: true. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#navLink_param\">Read more</a>",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "size",
            "in": "query",
            "description": "Enter the number of results per window. Default: 10. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#size_offset_param\">Read more</a>",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Enter the offset into the total result set where items should be returned from. Default: 0. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#size_offset_param\">Read more</a>",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Enter the desired page number. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#page_size_param\">Read more</a>",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Enter the desired number of results per page. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#page_size_param\">Read more</a>",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/WSEquipmentListResult"
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "api-key": []
          }
        ],
        "x-PureFamily": "Equipment"
      },
      "post": {
        "tags": [
          "equipments"
        ],
        "summary": "Complex operation for equipment",
        "description": "Lists equipment in the PURE installation, similar to the GET version, instead of using parameters to alter the response, an XML document is posted with the request. The XML document contains fields for all the parameters available for the GET version, but also additional filtering options. For documentation of the XML format see <a href=\"documentation/Content/Topics/CT_Equipment.htm#post_xml\">Equipment documentation</a>",
        "operationId": "listEquipment",
        "consumes": [
          "application/xml",
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/WSEquipmentsQuery"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/WSEquipmentListResult"
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "api-key": []
          }
        ],
        "x-PureFamily": "Equipment"
      }
    },
    "/equipments-meta/orderings": {
      "get": {
        "tags": [
          "equipments"
        ],
        "summary": "Lists available orderings",
        "description": "Lists all orderings available to the equipment endpoint. These values can be used by the order parameter",
        "operationId": "getAvailableOrderings",
        "consumes": [
          "application/xml",
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WSOrderingsList"
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "api-key": []
          }
        ],
        "x-PureFamily": "Equipment"
      }
    },
    "/equipments-meta/renderings": {
      "get": {
        "tags": [
          "equipments"
        ],
        "summary": "Lists available renderings",
        "description": "Lists all renderings available to the equipment endpoint. These values can be used by the rendering parameter",
        "operationId": "getAvailableRenderings",
        "consumes": [
          "application/xml",
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WSRenderingsList"
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "api-key": []
          }
        ],
        "x-PureFamily": "Equipment"
      }
    },
    "/equipments/{id}": {
      "get": {
        "tags": [
          "equipments"
        ],
        "summary": "Get equipment",
        "description": "Get equipment with specific ID (path parameter).",
        "operationId": "getEquipment",
        "consumes": [
          "application/xml",
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the desired equipment",
            "required": true,
            "type": "string"
          },
          {
            "name": "idClassification",
            "in": "query",
            "description": "Specifies an optional classification used to specify which type of ID should be used in the match. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#idclassification_param\">Read more</a>",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Limit the fields included in the response. E.g. 'nameVariants.nameVariant' will only return the name variants. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#fields_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Enter the desired locale. E.g. 'en_GB' will only return the English text strings. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#locale_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "en_US"
            ]
          },
          {
            "name": "fallbackLocale",
            "in": "query",
            "description": "Fallback locale string. Syntax is 'Locale1=>Locale2' to map Locale1 to Locale2. Example: 'da_DK=>en_GB'. Locale1 must be equal to locale provided in the locale string. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#fallbackLocale_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "rendering",
            "in": "query",
            "description": "HTML rendering formats. If rendering formats are specified, the content will be returned in these formats instead of XML. If XML is also wanted, it can be included using the fields parameter. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#rendering_param\">Read more</a>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "enum": [
              "system",
              "fingerprint"
            ]
          },
          {
            "name": "returnUsedContent",
            "in": "query",
            "description": "If 'true', the id's of the content used to create HTML renderings are returned as part of the result. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#usedContent_param\">Read more</a>",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "navigationLink",
            "in": "query",
            "description": "Include navigation links for paging and content. Default: true. <a href=\"documentation/Content/Topics/Parameter_Descriptions.htm#navLink_param\">Read more</a>",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
[...]
